.btn {
  min-width: 1.75rem;
  min-height: 1.75rem;
  position: relative;
  cursor: pointer;
}
.overlay {
  width: 100% !important;
  max-width: 75% !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  cursor: default;
  z-index: 72742734724 !important;
}
.list {
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 0.5rem;
  padding: 1.75rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.list::-webkit-scrollbar {
  display: none;
}
.footer {
  width: 100%;
  border-top: 1px solid rgb(229 229 229);
  display: flex;
  flex-direction: column;
}
.footerContent {
  display: flex;
  margin: 1.25rem 1.75rem;
  justify-content: space-between;
  align-items: center;
}
.footerText {
  color: #858585;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.58px;
}
.totalPrice {
  font-size: 42px;
  line-height: 46.01px;
  font-weight: 700;
}
.submitBtn {
  width: calc(100% - 3.5rem);
  margin-bottom: 1.75rem;
  padding: 1rem !important;
  font-weight: 700;
  color: #ffffff;
  background: #d681ff;
  border-radius: 50px !important;
  align-self: center;
}
.closeIcon {
  display: none;
  user-select: none;
}

@media screen and (max-width: 1050px) {
  .overlay {
    max-width: 85% !important;
  }
}
@media screen and (max-width: 575px) {
  .overlay {
    max-width: 100% !important;
    border-radius: 0 !important;
  }
  .closeIcon {
    display: block;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .list {
    padding-top: 15px;
    border-top: 1px solid rgb(229 229 229);
  }
}
@media screen and (max-width: 450px) {
  .list {
    padding: 15px;
  }
  .footerContent {
    margin-left: 15px;
    margin-right: 15px;
  }
  .submitBtn {
    width: calc(100% - 30px);
  }
}
