.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  opacity: 0.6;
}
.text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.58px;
  color: #ba8f00;
  user-select: none;
}

@media screen and (max-width: 650px) {
  .container {
    gap: 5px;
  }
  .text {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .text {
    font-size: 11px;
  }
  .icon {
    display: none;
  }
}
